<h1> Todo</h1>
<div class="container">
    <div class= "alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter Valid Values</div>
    <div class= "alert alert-warning" *ngIf="todoDescription.dirty && todoDescription.invalid">Enter Valid Description</div>
    <div class= "alert alert-warning" *ngIf="todoTargetDate.dirty && todoTargetDate.invalid">Enter Valid Target Date</div>
   <form (ngSubmit) = "!todoForm.invalid && saveTodoById()" #todoForm="ngForm">

    
    <fieldset class = "form-group">
        <label>
            Description
        </label>
    <input type ="text" [(ngModel)]="todo.description" #todoDescription="ngModel" class = "form-control" name="Description" required="required" minlength="3">
    </fieldset>
    

    <fieldset class = "form-group">
        <label>
            Target Date
        </label>
        <input type ="date" #todoTargetDate="ngModel"
        [ngModel]= "todo.targetDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="todo.targetDate = $event"
        class = "form-control" 
        name="Target Date" 
        required="required">
    </fieldset>


    <td>
        <button type = "submit" class = "btn btn-success">Save</button>
    </td>
</form>
    

</div>
